QuotationSystem/Connected Services/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sms.bfbip.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sms.bfbip.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sms.bfbip.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMSServiceAPI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SendSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="IService1_SendSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckTransactionNo_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTransactionNo" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckTransactionNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTransactionNoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckSMSAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSMSAmount" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckSMSAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSMSAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckSMSAmount_SMSErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SMSServiceAPI" name="detail" element="q1:SMSError" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SendSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendSMS" message="tns:IService1_SendSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendSMSResponse" message="tns:IService1_SendSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTransactionNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckTransactionNo" message="tns:IService1_CheckTransactionNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckTransactionNoResponse" message="tns:IService1_CheckTransactionNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSMSAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckSMSAmount" message="tns:IService1_CheckSMSAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckSMSAmountResponse" message="tns:IService1_CheckSMSAmount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/CheckSMSAmountSMSErrorFault" name="SMSErrorFault" message="tns:IService1_CheckSMSAmount_SMSErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/IService1/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTransactionNo">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckTransactionNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSMSAmount">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckSMSAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SMSErrorFault">
        <soap:fault use="literal" name="SMSErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://sms.bfbip.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>